.container {
	margin-top: 150px;
	margin: 0 auto;
	grid-gap: 2rem;
	display: grid;
}
.container .header {
	text-align: center;
	font-size: 100px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

.container .difficulties {
	text-align: center;
	font-size: 30px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

.container .difficulties .easy {
	background-color: lightgreen;
	border: solid 2px black;
	margin-right: 10px;
	margin-left: 30px;
	height: 100px;
	width: 350px;
}

.container .difficulties .medium {
	background-color: darkorange;
	border: solid 2px black;
	margin-right: 10px;
	width: 350px;
}

.container .difficulties .hard {
	background-color: maroon;
	border: solid 2px black;
	width: 350px;
}
