.diffheader {
	text-align: center;
	font-size: 100px;
	color: white;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
	padding-left: 15vw;
}

.difficulties {
	width: 100vw;
	padding-left: 10vw;
}

.difficulties .easy {
	background-color: transparent;
	background-image: url('../images/cartoonpaper.png');
	background-size: contain;
	background-repeat: no-repeat;
	border: solid 10px transparent;
	height: 300px;
	width: 350px;
	text-align: center;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
	font-size: 60px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.difficulties .easy:hover {
	background-image: url('../images/cartoonpaper.png');
	background-size: cover;
	background-position: center;
	background-color: rgb(4, 119, 4);
}

.difficulties .medium {
	background-color: transparent;
	background-image: url('../images/cartoonpaper.png');
	background-size: contain;
	background-repeat: no-repeat;
	border: solid 10px transparent;
	height: 300px;
	width: 350px;
	text-align: center;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
	font-size: 60px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.difficulties .medium:hover {
	background-image: url('../images/cartoonpaper.png');
	background-size: cover;
	background-position: center;
	background-color: rgb(255, 187, 0);
}

.difficulties .hard {
	background-color: transparent;
	background-image: url('../images/cartoonpaper.png');
	background-size: contain;
	background-repeat: no-repeat;
	border: solid 10px transparent;
	height: 300px;
	width: 350px;
	text-align: center;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
	font-size: 60px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.difficulties .hard:hover {
	background-image: url('../images/cartoonpaper.png');
	background-size: cover;
	background-position: center;
	background-color: rgb(197, 30, 0);
}

@media (max-width: 767px) {
	.difficulties .easy {
		margin-left: 20px;
	}

	.difficulties .medium {
		margin-left: 20px;
	}

	.difficulties .hard {
		margin-left: 20px;
	}
}
