.result-card {
	margin-top: 20px;
	height: 1200px;
	background-color: transparent;
	width: 1300px;
	text-align: center;
	padding-top: 10%;
	background-image: url('../images/cartoonpaper-rotated.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.message {
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
	font-size: 3vmin;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
	padding-top: 30px;
}

.img-parrot {
	height: 50vmin;
	width: 40vmin;
	margin-left: 20%;
}

.buttons {
	padding-left: 25vmin;
	margin-top: 50px;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
}

.result-card .button {
	background-color: transparent;
	border-color: transparent;
	font-size: 40px;
	color: black;
	margin-right: 5px;
}

.result-card .button:hover {
	color: red;
	text-decoration: none;
}

.result-card .score {
	font-size: 6vmin;
	font-family: 'Pirata One', cursive;
	letter-spacing: 6px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

@media (max-width: 1236px) {
	.numbg {
		width: 85vw;
		background-size: cover;
	}

	.bg {
		height: 100vh;
	}

	.header-num {
		padding-top: 120px;
	}

	.back-button {
		margin-left: 5vw;
		width: 150px;
		font-size: 30px;
	}
}
