.result-card {
	margin-top: 20px;
	background-color: transparent;
	width: 100vw;
	text-align: center;
	padding-top: 15vh;
	background-image: url('../images/cartoonpaper.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.message {
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
	font-size: 5vmin;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
	padding-top: 30px;
}

.img-parrot {
	height: 60vmin;
	width: 50vmin;
	margin-left: 35%;
}

.buttons {
	padding-left: 25%;
	margin-top: 50px;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
}

.result-card .button {
	background-color: transparent;
	border-color: transparent;
	font-size: 40px;
	color: black;
	margin-right: 5px;
}

.result-card .button:hover {
	color: red;
	text-decoration: none;
}

.result-card .score {
	font-size: 10vh;
	font-family: 'Pirata One', cursive;
	letter-spacing: 6px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

@media (max-width: 1276px) {
	.result-card {
		width: 85vw;
		background-size: contain;
	}

	.result-card .score {
		padding-top: 5vh;
		font-size: 10vmin;
	}

	.message {
		font-size: 5vmin;
	}

	.img-parrot {
		height: 75vmin;
		width: 65vmin;
		margin-left: 25%;
	}

	.button {
		font-size: 40px;
		padding-bottom: 10px;
	}

	.buttons {
		width: 80vw;
		padding-left: 19vmin;
	}
}

@media (max-width: 1030px) {
	.result-card {
		width: 85vw;
		background-size: contain;
	}

	.result-card .score {
		padding-top: 5vh;
		font-size: 10vmin;
	}

	.message {
		font-size: 5vmin;
	}

	.img-parrot {
		height: 45vmin;
		width: 35vmin;
		margin-left: 20%;
	}

	.button {
		font-size: 5vmin;
		padding-bottom: 10px;
	}

	.buttons {
		width: 80vw;
		padding-left: 19vw;
	}
}

@media (max-width: 991px) {
	.result-card {
		width: 75vw;
		background-size: cover;
	}

	.result-card .score {
		padding-top: 50px;
		font-size: 45px;
	}

	.message {
		font-size: 30px;
	}

	.img-parrot {
		height: 65vmin;
		width: 55vmin;
		margin-left: 15%;
	}

	.button {
		width: 250px;
		font-size: 30px;
		padding-bottom: 10px;
	}

	.buttons {
		padding-left: 80px;
	}
}

@media (max-width: 787px) {
	.bg {
		padding-left: 10vw;
	}

	.result-card {
		width: 75vw;
		background-size: cover;
	}

	.result-card .score {
		padding-top: 80px;
		font-size: 65px;
	}

	.message {
		font-size: 30px;
	}

	.img-parrot {
		height: 65vmin;
		width: 55vmin;
		margin-left: 15%;
	}

	.result-card .button {
		width: 35vw;
		font-size: 35px;
		padding-bottom: 10px;
	}

	.buttons {
		padding-left: 7vw;
	}
}

@media (max-width: 550px) {
	.result-card {
		width: 75vw;
		background-size: cover;
	}

	.result-card .score {
		padding-top: 7vh;
		font-size: 14vmin;
	}

	.message {
		font-size: 30px;
	}

	.img-parrot {
		height: 65vmin;
		width: 55vmin;
		margin-left: 15%;
	}

	.result-card .button {
		width: 250px;
		font-size: 40px;
		padding-bottom: 10px;
	}

	.buttons {
		padding-left: 15vw;
	}
}
