.numbg {
	background-image: url('../images/cartoonpaper-rotated.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding-top: 10px;
	width: 100vw;
	height: 100ch;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

.equation {
	font-size: 15vmin;
	letter-spacing: 5px;
	margin-top: 5px;
	text-align: center;
	font-family: 'Pirata One', cursive;
}

.header-num {
	padding-top: 100px;
	width: 100%;
	letter-spacing: 2px;
	text-align: center;
	font-family: 'Pirata One', cursive;
	font-size: 4vmin;
	padding-left: 50px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

.numbg .answers {
	text-align: center;
	margin-right: 6px;
	display: table-cell;
	vertical-align: text-top;
	padding-bottom: 90px;
	background-color: transparent;
	background-position: center;
	border: 10px solid transparent;
	width: 18vw;
	height: 25vh;
	letter-spacing: 4px;
	background-image: url('../images/treasure.png');
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 5vh;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000,
		-1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000,
		1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
	font-family: 'Pirata One', cursive;
	color: white;
	letter-spacing: 8px;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.answers:hover {
	outline-color: transparent;
	background-size: cover;
	background-position: center;
	background-color: lightskyblue;
}

.answers:active {
	outline-color: transparent;
}

.numbg .score {
	margin-top: 10px;
	font-size: 10vmin;
	font-family: 'Pirata One', cursive;
	letter-spacing: 4px;
}

.back-button {
	width: 15vw;
	background-color: transparent;
	border-color: transparent;
	margin-left: 120px;
	font-size: 4vmin;
	font-family: 'Pirata One', cursive;
	color: black;
}

.back-button:hover {
	color: red;
	background-color: transparent;
	border-color: transparent;
}

.back-button:active:focus {
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
}

.img {
	height: 50px;
	width: 50px;
}

@media (max-width: 1236px) {
	.numbg {
		width: 80vw;
		background-size: cover;
		margin-right: 300px;
	}

	.bg {
		height: 100vh;
	}

	.header-num {
		padding-top: 120px;
	}

	.back-button {
		margin-left: 5vw;
		width: 150px;
		font-size: 30px;
	}
}

@media (max-width: 672px) {
	.header-num {
		padding-top: 7vh;
	}

	.equation {
		font-size: 8vh;
	}

	.numbg {
		margin-left: 30px;
	}
	.answers {
		width: 100vw;
		height: 12vh;
		padding-bottom: 0;
	}

	.answers:hover {
		background-size: contain;
	}

	.numbg .score {
		margin-top: 0;
	}
}
